<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <context-param>
        <param-name>resteasy.servlet.mapping.prefix</param-name>
        <param-value>/rest-service</param-value>
    </context-param>

    <servlet>
        <servlet-name>Resteasy</servlet-name>
        <servlet-class>javax.ws.rs.core.Application</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Resteasy</servlet-name>
        <url-pattern>/rest-service/*</url-pattern>
    </servlet-mapping>

    <env-entry>
        <env-entry-name>max-set-size</env-entry-name>
        <env-entry-type>java.lang.Integer</env-entry-type>
        <env-entry-value>25</env-entry-value>
    </env-entry>
</web-app>
